<h2> publicaciones</h2>

<% @posts.each do |post| %>
<%= post.title %>
<%= post.body %>
<% end %>

<br> 

<h2> skills </h2>

<% @skills.each do |skill| %>
<%= skill.title %>
<%= skill.percent_utilized %>
<% end %>

<h2> books </h2>

<% @books.each do |book| %>
<%= book.title %> 
<%= book.subtitle %>
<%= book.body %> 
<%= book.main_image %> 
<%= book.thumb_image %>
<% end %> 